{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        ubergraph/ubergraph {:mvn/version "0.8.2"}
        clojure2d/clojure2d {:mvn/version "1.4.4"}
        hiccup/hiccup {:mvn/version "1.0.5"}}
 :paths ["src" "resources" "test"]}