:root {
  --cell-border: rgb(230, 230, 230);
  --total-cell-border: rgb(180, 180, 180);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

div.warning {
  background-color: rgb(255, 250, 230);
  padding: 0.5em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

#warning-icon {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

table {
  border-collapse: collapse;

}

tr {
  border-top: 0.5px solid var(--cell-border);
}

tr:last-child {
  border-bottom: 0.5px solid var(--cell-border);
}


tr.total-row {
  border-top: 0.5px solid var(--total-cell-border);
  border-bottom: 0.5px solid var(--total-cell-border);
}


tr.import {
  color: blue;
}

tr.placeholder {
  background-color: rgb(255, 239, 175);
}

td {
  border-left: 0.5px solid var(--cell-border);
  border-right: 0.5px solid var(--cell-border);
  font-size: 0.8em;
}

td:nth-child(2),
td:nth-child(3) {
  background-color: rgb(250, 250, 250);
}

tr:first-child {
  background-color: lightgrey;
}

td.content {
  width: 6em;
  white-space: pre-wrap;
  text-align: right;
  padding-right: 5px;
}

td.title {
  min-width: 10em;
  white-space: nowrap;
  padding-right: 1em;
  padding-left: 0.5em;
}

td.header {
  font-weight: bold;
  border: 0;
}

img.graph {
  width: 500;
  max-height: 300;
}