body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

table {
  border-collapse: collapse;
}

tr:first-child {
  background-color: lightgrey;
}

div.warning {
  background-color: rgb(255, 250, 230);
  padding: 0.5em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

#warning-icon {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

td {
  border: 0.5px solid rgb(207, 207, 207);
}

td.content {
  width: 6em;
  white-space: pre-wrap;
  text-align: right;
  padding-right: 5px;
}

td.title {
  min-width: 10em;
  white-space: nowrap;
  padding-right: 1em;
  padding-left: 0.5em;
}

td.header {
  font-weight: bold;
  border: 0;
}