body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

table {
  border-collapse: collapse;
}

td {
  white-space: pre-wrap;
  border: 0.5px solid rgb(207, 207, 207);
}

td.content {
  text-align: right;
  width: 6em;
  padding-right: 5px;
}

td.title {
  border: 0;
  padding-right: 1em;
  padding-left: 0.5em;
  border: 0.5px solid rgb(207, 207, 207);
}

td.header {
  font-weight: bold;
  border: 0;
}